CompileFlags:
  Add: [
    "-IC:/Program Files (x86)/Arm GNU Toolchain arm-none-eabi/12.3 rel1/arm-none-eabi/include/c++/12.3.1",
    "-IC:/Program Files (x86)/Arm GNU Toolchain arm-none-eabi/12.3 rel1/arm-none-eabi/include/c++/12.3.1/arm-none-eabi"
    ]
  Remove: [
    --driver-mode=*,
    -resource-dir=*
    ]

InlayHints:
  Enabled: No
  ParameterNames: No
  DeducedTypes: No